
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; 
  background-color: #F9F3DE;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
  background-color: rgb(216, 206, 177);
}

#logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

header h1 {
  font-size: 1.8rem;
  color: #E4343E;
  flex: 1;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primer-subtitulo {
  font-size: 1.5rem;
  color: #E4343E;
  text-align: center;
  margin-top: 20px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.menu {
  display: flex;
  gap: 20px;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #E4343E;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #FFFEFB;
}

/* ACTIVIDADES */
main {
  flex: 1;
}

.platos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px;
  column-gap: 280px;
  row-gap: 50px;
  padding: 50px;
  border-bottom: 2px solid #ffffff;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.plato {
  perspective: 1000px;
  height: 300px;
}

.contenido {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.plato:hover .contenido {
  transform: rotateY(180deg);
}

.frente, .atras {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 102, 153, 0.2);
}

.frente {
  background: #D8CEB1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frente img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.frente h3 {
  margin: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.atras {
  background-color: #CD151F;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  color: white;
}

.carta{
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* REDES SOCIALES */

.texto-redes {
  font-size: 1.1rem;
  margin-top: 20px;
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
}

/* FOOTER */
footer {
  padding: 15px;
  border-top: 2px solid #ffffff;
  color: #E4343E;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style-type: none;
  background-color: rgb(216, 206, 177);
}

